release/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <script class="js/vendor/modernizr-3.7.1.min.js"></script>
    <title>МиниМаг</title>
  </head>
  <body>
    <div class="off_canvars_overlay"></div><div class="offcanvas_menu">
<div class="container">
<div class="row">
<div class="col-12">
<div class="canvas_open">
<a href="javascript:void(0)"><span class="burger"></span></a>
</div>
<div class="offcanvas_menu_wrapper">
<div class="canvas_close">
<a href="javascript:void(0)"><span class="icon-cross"></span></a>  
</div>
<div class="language_currency">
    <p>Внимание! В связи с большим количеством заказов доставка осуществляется в течении 3 часов!</p></div>
<div class="header_social text-right">
<ul>
<li>
<a href="#"><img class="lazyload" data-src="images/vk.svg" alt="img"></a>
</li>
<li>
<a href="#"><img class="lazyload" data-src="images/instagram.svg" alt="img"></a>
</li>
</ul>
</div>
<div class="call-support mb-3"><span class="icon-phone"></span>
    <div class="d-flex flex-column align-items-end"><a href="tel:83511234567">8 (351) 123-45-67</a><span>приём звонков с 10:00 до 20:00</span></div></div>
<div id="menu" class="text-left ">
<ul class="offcanvas_main_menu">
<li class="menu-item-has-children active">
<a href="#">Главная</a>
</li>
<li class="menu-item-has-children">
<a href="#">О компании</a>
</li>
<li class="menu-item-has-children">
<a href="#">Доставка и оплата</a>
</li>
<li class="menu-item-has-children">
<a href="#">Контакты</a>
</li>
</ul>
</div>
<div class="offcanvas_footer">
<span>
<a href="mailto:info@minimag.ru"><b>Email:</b> info@minimag.ru</a>
</span>
</div>
</div>
</div>
</div>
</div>
</div>
<header>
<div class="main_header">
<div class="header_top">
<div class="container">
<div class="row">
<div class="col-lg-6"><span>Внимание! В связи с большим количеством заказов доставка осуществляется в течении 3 часов!</span></div>
<div class="col-lg-6">
<div class="header_social d-flex justify-content-end">
<ul>
<li>
<a href="#"><img class="lazyload" data-src="images/vk.svg" alt="img"></a>
</li>
<li>
<a href="#"><img class="lazyload" data-src="images/instagram.svg" alt="img"></a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="header_middle">
<div class="container">
<div class="row">
<div class="col-5 col-lg-3 order-1 order-lg-1">
<div class="logo">
<a href="#"><img class="lazyload" data-src="images/logo.svg" alt="logo img"></a>
</div>
</div>
<div class="col-lg-4 order-3 order-lg-2 mt-3 mt-lg-0">
<div class="header_right_info">
<div class="search_container w-100">
<form action="#" method="" class="w-100">
<div class="search_box w-100">
<input placeholder="Поиск по сайту" type="search">
<button type="submit">
<span class="icon-search"></span>
</button>
</div>
</form>
</div>
</div>
</div>
    <div class="col-5 col-lg-5 d-flex align-items-center justify-content-end order-2 order-lg-3"><div class="header_account_area">
<div class="header_account_list register">
<ul>
<li><a href="#">Регистрация</a></li>
<li><span>/</span></li>
<li><a href="#">Войти</a></li>
</ul>
</div>
<div class="header_account_list header_wishlist mr-20">
<a href="wishlist.html">
<span class="icon-heart"></span>
<span class="item_count">3</span>
</a>
</div>
<div class="header_account_list  mini_cart_wrapper">
<a href="javascript:void(0)">
<span class="icon-shopping-cart"></span>
<span class="item_count">2</span>
</a>
<div class="mini_cart">
<div class="cart_gallery">
<div class="cart_close">
<div class="cart_text">
<span class="h3 d-block m-0"><b>Корзина</b></span>
</div>
<div class="mini_cart_close">
<a href="javascript:void(0)"><span class="icon-cross"></span></a>
</div>
</div><div class="cart_item">
<div class="cart_img">
<a href="#">
<img class="lazyload" data-src="images/product.jpg" alt="img">
</a>
</div>
<div class="cart_info">
<a href="#">Название товара</a>
<p>1 x <span> 1000 ₽. </span></p>
</div>
<div class="cart_remove">
<a href="#"><i class="icon-x"></i></a>
</div>
</div>
</div>
<div class="mini_cart_table">
<div class="cart_table_border">
<div class="cart_total">
<span>Цена:</span>
<span class="price">125.00 ₽</span>
</div>
</div>
</div>
<div class="mini_cart_footer">
<div class="cart_button">
<a href="#">Посмотреть корзину</a>
</div>
<div class="cart_button">
<a href="#">Оформить</a>
</div>
</div>
</div>
</div>
</div>
    </div></div>
</div>
</div>
<div class="header_bottom sticky-header">
<div class="container">  
<div class="row align-items-center">
    <div class="col-lg-3 col-md-6">
      <div class="main-categori-wrap main-categori-wrap-modify-2 btn-catalog-drop">
        <div class="categories_title"><span class="categori_toggle">КАТАЛОГ<span class="icon-products ml-20"></span></span></div>
        <div class="catalog-drop">
          <div class="position-relative">
            <div class="catalog-drop-header">
              <div class="container">
                <div class="row">
                  <div class="col-12 d-flex justify-content-between align-items-center"><div class="logo">
<a href="#"><img class="lazyload" data-src="images/logo.svg" alt="logo img"></a>
</div>
                    <div class="catalog-drop-close"><span class="icon-cross"></span></div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="container pt-80">
                <div class="row pb-4">
                  <div class="col-12 col-lg-3 mb-5 mb-lg-0"><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19.png" alt="img"><span> Овощи и фрукты</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (1).png" alt="img"><span> Сладости</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (2).png" alt="img"><span> Готовые блюда и полуфабрикаты</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (3).png" alt="img"><span> Чай и кофе</span></a>
                  </div>
                  <div class="col-12 col-lg-3 mb-5 mb-lg-0"><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (4).png" alt="img"><span> Вода, соки, напитки</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (5).png" alt="img"><span> Сыры</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (6).png" alt="img"><span> Мясо и птица</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (7).png" alt="img"><span> Соусы, специи, приправы</span></a>
                  </div>
                  <div class="col-12 col-lg-3 mb-5 mb-lg-0"><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (8).png" alt="img"><span> Молочные продукты</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (9).png" alt="img"><span> Хлеб и выпечка</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (10).png" alt="img"><span> Чипсы и снеки</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (11).png" alt="img"><span> Бытовая химия</span></a>
                  </div>
                  <div class="col-12 col-lg-3"><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (12).png" alt="img"><span> Бакалея</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (13).png" alt="img"><span> Рыба и морепродукты</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (14).png" alt="img"><span> Консервы и соленья</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (15).png" alt="img"><span> Косметика и гигиена</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><div class="col-lg-6">
<!--main menu start-->
<div class="main_menu menu_position">
<nav>
<ul>
<li>
<a class="active" href="#">Главная</a>
</li>
<li>
<a href="#">О компании</a>
</li>
<li>
<a href="#">Доставка и оплата</a>
</li>
<li>
<a href="#">Контакты</a>
</li>
</ul>  
</nav> 
</div>
<!--main menu end-->
</div>
<div class="col-lg-3 d-none d-lg-block">
<div class="call-support"><span class="icon-phone"></span>
    <div class="d-flex flex-column align-items-end"><a href="tel:83511234567">8 (351) 123-45-67</a><span>приём звонков с 10:00 до 20:00</span></div></div>
</div>
</div>
</div>
</div>
</div> 
</header>
<!--header area end-->
    <div class="page-content"><!--slider area start-->
<section class="slider_section">
<div class="slider_area owl-carousel">
<div class="single_slider d-flex align-items-center" data-bgimg="images/slider.jpg">
<div class="container">
<div class="row">
<div class="col-lg-5 pr-lg-0">
<div class="slider_content">
<h1>Доставка продуктов на дом или офис</h1>
<p>Доставка продуктов из наших магазинов в Южноуральске. Удобный сервис.</p> 
<a class="btn" href="#">перейти в каталог</a>
</div>
</div>
</div>
</div>
</div>
<div class="single_slider d-flex align-items-center" data-bgimg="images/slider.jpg">
<div class="container">
<div class="row">
<div class="col-lg-5">
<div class="slider_content">
<h2 class="h1">Доставка продуктов на дом или офис</h2>
<p>Доставка продуктов из наших магазинов в Южноуральске. Удобный сервис.</p> 
<a class="btn" href="#">перейти в каталог</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<!--slider area end-->
<!--shipping area start-->
<div class="shipping_area">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-6">
<div class="single_shipping">
<div class="shipping_icone"><span class="icon-buy"></span></div>
<div class="shipping_content">
<span class="title">от 500 рублей</span>
<p>Оформление заказа от 500 рублей</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="single_shipping col_2">
<div class="shipping_icone"><span class="icon-timer"></span></div>
<div class="shipping_content">
<span class="title">Удобное время</span>
<p>Доставляем в удобное для вас время</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="single_shipping col_3">
<div class="shipping_icone"><span class="icon-fresh"></span></div>
<div class="shipping_content">
<span class="title">Только свежее</span>
<p>Выберем для вас лучшие продукты первей свежести</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="single_shipping col_4">
<div class="shipping_icone"><span class="icon-pig"></span></div>
<div class="shipping_content">
<span class="title">Низкая стоимость</span>
<p>Цены ниже, чем в розничных магазинах</p>
</div>
</div>
</div>
</div>   
</div>
</div>
<!--shipping area end-->
<!--product area start-->
<div class="product_area product_deals mb-150 mt-50">
<div class="container">
<div class="row">
<div class="col-12">
<div class="section_title">
<h2>Распродажа дня</h2>
</div>
</div>
</div> 
<div class="product_container">
<div class="row">
<div class="col-12">
<div class="product_carousel product_column5 owl-carousel"><article class="single_product">
<figure>
<div class="product_thumb">
<a class="primary_img" href="#">
<img src="images/product1.jpg" alt="img">
</a>
<a class="secondary_img" href="#">
<img src="images/product2.jpg" alt="img">
</a>
<div class="label_product">
<span class="label_sale">акция</span>
</div>
<form class="action_links">
<ul>
<li class="add_to_cart">
<button href="#" title="Добавить в корзину" type="submit">
<span class="icon-shopping-cart"></span>
</button>
</li>
<li class="wishlist">
<a href="#" title="Добавить для сравнения">
<span class="icon-heart"></span>
</a>
</li>
</ul>
</form>
</div>
<figcaption class="product_content"><a class="product_name" href="#">Молоко “Первый вкус”, 0,5л., 3,2%0</a><div class="price_box">
<span class="current_price">14,90 ₽</span>
<span class="old_price">34,90 ₽</span>
</div>
</figcaption>
</figure>
</article><article class="single_product">
<figure>
<div class="product_thumb">
<a class="primary_img" href="#">
<img src="images/product1.jpg" alt="img">
</a>
<a class="secondary_img" href="#">
<img src="images/product2.jpg" alt="img">
</a>
<div class="label_product">
<span class="label_sale">акция</span>
</div>
<form class="action_links">
<ul>
<li class="add_to_cart">
<button href="#" title="Добавить в корзину" type="submit">
<span class="icon-shopping-cart"></span>
</button>
</li>
<li class="wishlist">
<a href="#" title="Добавить для сравнения">
<span class="icon-heart"></span>
</a>
</li>
</ul>
</form>
</div>
<figcaption class="product_content"><a class="product_name" href="#">Молоко “Первый вкус”, 0,5л., 3,2%1</a><div class="price_box">
<span class="current_price">14,90 ₽</span>
<span class="old_price">34,90 ₽</span>
</div>
</figcaption>
</figure>
</article><article class="single_product">
<figure>
<div class="product_thumb">
<a class="primary_img" href="#">
<img src="images/product1.jpg" alt="img">
</a>
<a class="secondary_img" href="#">
<img src="images/product2.jpg" alt="img">
</a>
<div class="label_product">
<span class="label_sale">акция</span>
</div>
<form class="action_links">
<ul>
<li class="add_to_cart">
<button href="#" title="Добавить в корзину" type="submit">
<span class="icon-shopping-cart"></span>
</button>
</li>
<li class="wishlist">
<a href="#" title="Добавить для сравнения">
<span class="icon-heart"></span>
</a>
</li>
</ul>
</form>
</div>
<figcaption class="product_content"><a class="product_name" href="#">Молоко “Первый вкус”, 0,5л., 3,2%2</a><div class="price_box">
<span class="current_price">14,90 ₽</span>
<span class="old_price">34,90 ₽</span>
</div>
</figcaption>
</figure>
</article><article class="single_product">
<figure>
<div class="product_thumb">
<a class="primary_img" href="#">
<img src="images/product1.jpg" alt="img">
</a>
<a class="secondary_img" href="#">
<img src="images/product2.jpg" alt="img">
</a>
<div class="label_product">
<span class="label_sale">акция</span>
</div>
<form class="action_links">
<ul>
<li class="add_to_cart">
<button href="#" title="Добавить в корзину" type="submit">
<span class="icon-shopping-cart"></span>
</button>
</li>
<li class="wishlist">
<a href="#" title="Добавить для сравнения">
<span class="icon-heart"></span>
</a>
</li>
</ul>
</form>
</div>
<figcaption class="product_content"><a class="product_name" href="#">Молоко “Первый вкус”, 0,5л., 3,2%3</a><div class="price_box">
<span class="current_price">14,90 ₽</span>
<span class="old_price">34,90 ₽</span>
</div>
</figcaption>
</figure>
</article><article class="single_product">
<figure>
<div class="product_thumb">
<a class="primary_img" href="#">
<img src="images/product1.jpg" alt="img">
</a>
<a class="secondary_img" href="#">
<img src="images/product2.jpg" alt="img">
</a>
<div class="label_product">
<span class="label_sale">акция</span>
</div>
<form class="action_links">
<ul>
<li class="add_to_cart">
<button href="#" title="Добавить в корзину" type="submit">
<span class="icon-shopping-cart"></span>
</button>
</li>
<li class="wishlist">
<a href="#" title="Добавить для сравнения">
<span class="icon-heart"></span>
</a>
</li>
</ul>
</form>
</div>
<figcaption class="product_content"><a class="product_name" href="#">Молоко “Первый вкус”, 0,5л., 3,2%4</a><div class="price_box">
<span class="current_price">14,90 ₽</span>
<span class="old_price">34,90 ₽</span>
</div>
</figcaption>
</figure>
</article><article class="single_product">
<figure>
<div class="product_thumb">
<a class="primary_img" href="#">
<img src="images/product1.jpg" alt="img">
</a>
<a class="secondary_img" href="#">
<img src="images/product2.jpg" alt="img">
</a>
<div class="label_product">
<span class="label_sale">акция</span>
</div>
<form class="action_links">
<ul>
<li class="add_to_cart">
<button href="#" title="Добавить в корзину" type="submit">
<span class="icon-shopping-cart"></span>
</button>
</li>
<li class="wishlist">
<a href="#" title="Добавить для сравнения">
<span class="icon-heart"></span>
</a>
</li>
</ul>
</form>
</div>
<figcaption class="product_content"><a class="product_name" href="#">Молоко “Первый вкус”, 0,5л., 3,2%5</a><div class="price_box">
<span class="current_price">14,90 ₽</span>
<span class="old_price">34,90 ₽</span>
</div>
</figcaption>
</figure>
</article><article class="single_product">
<figure>
<div class="product_thumb">
<a class="primary_img" href="#">
<img src="images/product1.jpg" alt="img">
</a>
<a class="secondary_img" href="#">
<img src="images/product2.jpg" alt="img">
</a>
<div class="label_product">
<span class="label_sale">акция</span>
</div>
<form class="action_links">
<ul>
<li class="add_to_cart">
<button href="#" title="Добавить в корзину" type="submit">
<span class="icon-shopping-cart"></span>
</button>
</li>
<li class="wishlist">
<a href="#" title="Добавить для сравнения">
<span class="icon-heart"></span>
</a>
</li>
</ul>
</form>
</div>
<figcaption class="product_content"><a class="product_name" href="#">Молоко “Первый вкус”, 0,5л., 3,2%6</a><div class="price_box">
<span class="current_price">14,90 ₽</span>
<span class="old_price">34,90 ₽</span>
</div>
</figcaption>
</figure>
</article><article class="single_product">
<figure>
<div class="product_thumb">
<a class="primary_img" href="#">
<img src="images/product1.jpg" alt="img">
</a>
<a class="secondary_img" href="#">
<img src="images/product2.jpg" alt="img">
</a>
<div class="label_product">
<span class="label_sale">акция</span>
</div>
<form class="action_links">
<ul>
<li class="add_to_cart">
<button href="#" title="Добавить в корзину" type="submit">
<span class="icon-shopping-cart"></span>
</button>
</li>
<li class="wishlist">
<a href="#" title="Добавить для сравнения">
<span class="icon-heart"></span>
</a>
</li>
</ul>
</form>
</div>
<figcaption class="product_content"><a class="product_name" href="#">Молоко “Первый вкус”, 0,5л., 3,2%7</a><div class="price_box">
<span class="current_price">14,90 ₽</span>
<span class="old_price">34,90 ₽</span>
</div>
</figcaption>
</figure>
</article><article class="single_product">
<figure>
<div class="product_thumb">
<a class="primary_img" href="#">
<img src="images/product1.jpg" alt="img">
</a>
<a class="secondary_img" href="#">
<img src="images/product2.jpg" alt="img">
</a>
<div class="label_product">
<span class="label_sale">акция</span>
</div>
<form class="action_links">
<ul>
<li class="add_to_cart">
<button href="#" title="Добавить в корзину" type="submit">
<span class="icon-shopping-cart"></span>
</button>
</li>
<li class="wishlist">
<a href="#" title="Добавить для сравнения">
<span class="icon-heart"></span>
</a>
</li>
</ul>
</form>
</div>
<figcaption class="product_content"><a class="product_name" href="#">Молоко “Первый вкус”, 0,5л., 3,2%8</a><div class="price_box">
<span class="current_price">14,90 ₽</span>
<span class="old_price">34,90 ₽</span>
</div>
</figcaption>
</figure>
</article><article class="single_product">
<figure>
<div class="product_thumb">
<a class="primary_img" href="#">
<img src="images/product1.jpg" alt="img">
</a>
<a class="secondary_img" href="#">
<img src="images/product2.jpg" alt="img">
</a>
<div class="label_product">
<span class="label_sale">акция</span>
</div>
<form class="action_links">
<ul>
<li class="add_to_cart">
<button href="#" title="Добавить в корзину" type="submit">
<span class="icon-shopping-cart"></span>
</button>
</li>
<li class="wishlist">
<a href="#" title="Добавить для сравнения">
<span class="icon-heart"></span>
</a>
</li>
</ul>
</form>
</div>
<figcaption class="product_content"><a class="product_name" href="#">Молоко “Первый вкус”, 0,5л., 3,2%9</a><div class="price_box">
<span class="current_price">14,90 ₽</span>
<span class="old_price">34,90 ₽</span>
</div>
</figcaption>
</figure>
</article></div>
</div>
</div>
</div>
</div>
</div>
<!--product area end-->
<div class="banner_fullwidth">
<div class="container">
<div class="row">
<div class="col-12">
<div class="banner_full_content">
<p>ВЕСЬ НОЯБРЬ!</p>
<h2>СКИДКА 50%<span>на все овощи и фрукты</span></h2>
<a href="#" class="btn">перейти в каталог</a>
</div>
</div>
</div>
</div>
</div>
      <div class="step pb-50">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section_title">
                <h2>Экономьте ваше время с нами</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
              <div class="step-item step-item-arrow"><img class="lazyload mx-auto d-block" data-src="images/Rectangle 14.png" alt="img">
                <p>Выберите из <a href="#">каталога продуктов</a> необходимые вам товары, положите их в корзину и оформите доставку.</p>
              </div>
            </div>
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
              <div class="step-item step-item-arrow"><img class="lazyload mx-auto d-block" data-src="images/Rectangle 14 (1).png" alt="img">
                <p>Наши специалисты соберут для вас самые свежие продукты с нашего склада</p>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="step-item"><img class="lazyload mx-auto d-block" data-src="images/Rectangle 14 (2).png" alt="img">
                <p>Курьер привезет продукты через несколько часов, а вы можете заняться своими делами.</p>
              </div>
            </div>
          </div>
        </div>
      </div><!--blog area start-->
<section class="blog_section">
<div class="container">
<div class="row">
<div class="col-12">
<div class="section_title">
<h2>Новости и статьи</h2>
</div>
</div>
</div>
<div class="row">
<div class="blog_carousel blog_column3 owl-carousel"><article class="single_blog">
<figure>
<div class="blog_thumb">
<a href="#">
<img src="images/Rectangle 15.png" alt="img">
</a>
</div>
<figcaption class="blog_content">
<div class="articles_date">
<p>10/10/2020</p>
</div>
<a class="post_title" href="#">Рецепт приготовления итальянского салата с руколлой.</a>
<footer class="blog_footer"><a href="#">ПОДРОБНЕЕ<span class="block-play"><i class="icon-play"></i></span></a></footer>
</figcaption>
</figure>
</article><article class="single_blog">
<figure>
<div class="blog_thumb">
<a href="#">
<img src="images/Rectangle 15.png" alt="img">
</a>
</div>
<figcaption class="blog_content">
<div class="articles_date">
<p>10/10/2020</p>
</div>
<a class="post_title" href="#">Рецепт приготовления итальянского салата с руколлой.</a>
<footer class="blog_footer"><a href="#">ПОДРОБНЕЕ<span class="block-play"><i class="icon-play"></i></span></a></footer>
</figcaption>
</figure>
</article><article class="single_blog">
<figure>
<div class="blog_thumb">
<a href="#">
<img src="images/Rectangle 15.png" alt="img">
</a>
</div>
<figcaption class="blog_content">
<div class="articles_date">
<p>10/10/2020</p>
</div>
<a class="post_title" href="#">Рецепт приготовления итальянского салата с руколлой.</a>
<footer class="blog_footer"><a href="#">ПОДРОБНЕЕ<span class="block-play"><i class="icon-play"></i></span></a></footer>
</figcaption>
</figure>
</article><article class="single_blog">
<figure>
<div class="blog_thumb">
<a href="#">
<img src="images/Rectangle 15.png" alt="img">
</a>
</div>
<figcaption class="blog_content">
<div class="articles_date">
<p>10/10/2020</p>
</div>
<a class="post_title" href="#">Рецепт приготовления итальянского салата с руколлой.</a>
<footer class="blog_footer"><a href="#">ПОДРОБНЕЕ<span class="block-play"><i class="icon-play"></i></span></a></footer>
</figcaption>
</figure>
</article><article class="single_blog">
<figure>
<div class="blog_thumb">
<a href="#">
<img src="images/Rectangle 15.png" alt="img">
</a>
</div>
<figcaption class="blog_content">
<div class="articles_date">
<p>10/10/2020</p>
</div>
<a class="post_title" href="#">Рецепт приготовления итальянского салата с руколлой.</a>
<footer class="blog_footer"><a href="#">ПОДРОБНЕЕ<span class="block-play"><i class="icon-play"></i></span></a></footer>
</figcaption>
</figure>
</article><article class="single_blog">
<figure>
<div class="blog_thumb">
<a href="#">
<img src="images/Rectangle 15.png" alt="img">
</a>
</div>
<figcaption class="blog_content">
<div class="articles_date">
<p>10/10/2020</p>
</div>
<a class="post_title" href="#">Рецепт приготовления итальянского салата с руколлой.</a>
<footer class="blog_footer"><a href="#">ПОДРОБНЕЕ<span class="block-play"><i class="icon-play"></i></span></a></footer>
</figcaption>
</figure>
</article><article class="single_blog">
<figure>
<div class="blog_thumb">
<a href="#">
<img src="images/Rectangle 15.png" alt="img">
</a>
</div>
<figcaption class="blog_content">
<div class="articles_date">
<p>10/10/2020</p>
</div>
<a class="post_title" href="#">Рецепт приготовления итальянского салата с руколлой.</a>
<footer class="blog_footer"><a href="#">ПОДРОБНЕЕ<span class="block-play"><i class="icon-play"></i></span></a></footer>
</figcaption>
</figure>
</article><article class="single_blog">
<figure>
<div class="blog_thumb">
<a href="#">
<img src="images/Rectangle 15.png" alt="img">
</a>
</div>
<figcaption class="blog_content">
<div class="articles_date">
<p>10/10/2020</p>
</div>
<a class="post_title" href="#">Рецепт приготовления итальянского салата с руколлой.</a>
<footer class="blog_footer"><a href="#">ПОДРОБНЕЕ<span class="block-play"><i class="icon-play"></i></span></a></footer>
</figcaption>
</figure>
</article><article class="single_blog">
<figure>
<div class="blog_thumb">
<a href="#">
<img src="images/Rectangle 15.png" alt="img">
</a>
</div>
<figcaption class="blog_content">
<div class="articles_date">
<p>10/10/2020</p>
</div>
<a class="post_title" href="#">Рецепт приготовления итальянского салата с руколлой.</a>
<footer class="blog_footer"><a href="#">ПОДРОБНЕЕ<span class="block-play"><i class="icon-play"></i></span></a></footer>
</figcaption>
</figure>
</article><article class="single_blog">
<figure>
<div class="blog_thumb">
<a href="#">
<img src="images/Rectangle 15.png" alt="img">
</a>
</div>
<figcaption class="blog_content">
<div class="articles_date">
<p>10/10/2020</p>
</div>
<a class="post_title" href="#">Рецепт приготовления итальянского салата с руколлой.</a>
<footer class="blog_footer"><a href="#">ПОДРОБНЕЕ<span class="block-play"><i class="icon-play"></i></span></a></footer>
</figcaption>
</figure>
</article></div>
</div>
</div>
</section>
<!--blog area end-->
    </div><!--footer area start-->
<footer class="footer_widgets">
<div class="footer_top">
<div class="container">
<div class="row">
<div class="col-12 col-lg-4 mb-4 mb-lg-0">
<div class="logo mb-10">
<a href="#"><img class="lazyload" data-src="images/logo.svg" alt="logo img"></a>
</div>
<p class="footer_desc">Доставка продуктов на дом или в офис в Южноуральске. Принимаем заказы от 500 рублей.</p>
</div>
<div class="col-12 col-lg-2 mb-4 mb-lg-0">
<div class="widgets_container widget_menu">
<span class="title">Информация</span>
<div class="footer_menu">
<ul>
    <li><a href="#">О компании</a></li>
    <li><a href="#">Вакансии</a></li>
    <li><a href="#">Документы</a></li>
    <li><a href="#">Контакты</a></li></ul>
</div>
</div>
</div>
<div class="col-12 col-lg-2 mb-4 mb-lg-0">
<div class="widgets_container widget_menu">
<span class="title">Для покупателя</span>
<div class="footer_menu">
<ul>
    <li><a href="#">Как мы работаем</a></li>
    <li><a href="#">Зоны доставки</a></li>
    <li><a href="#">Доставка и оплата</a></li>
    <li><a href="#">Помощь</a></li></ul>
</div>
</div>
</div>
    <div class="col-12 col-lg-4 footer-info"><p class="footer_desc"><b>Адрес:</b> г. Южноуральск, ул. Ленина 1</p>
<p class="footer_desc"><b>Телефон:</b> <a href="tel:+73511234567">+7 351 123-45-67</a></p>
<p class="footer_desc"><b>Email:</b> <a href="mailto:info@minimag.ru">info@minimag.ru</a></p>
    </div></div>
</div>
</div>
<div class="footer_bottom">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 col-md-7 d-flex justify-content-center justify-content-lg-start">
<div class="copyright_area">
<p><a href="#">Политика конфиденциальности</a> | Мини-Маг - 2020</p>
</div>
</div>
<div class="col-lg-6 col-md-5 d-flex justify-content-center justify-content-lg-end">
<div class="copyright_area">
<p><a href="#">Разработка и поддержка сайта DEKSIS.RU</a></p>
</div>
</div>
</div>
</div>
</div>
</footer>
<!--footer area end-->
    <script src="js/main.min.js"></script>
  </body>
</html>

source/html/index.pug
extends base.pug
block content
	<!--slider area start-->
	<section class="slider_section">
		<div class="slider_area owl-carousel">
			<div class="single_slider d-flex align-items-center" data-bgimg="images/slider.jpg">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 pr-lg-0">
							<div class="slider_content">
								<h1>Доставка продуктов на дом или офис</h1>
								<p>Доставка продуктов из наших магазинов в Южноуральске. Удобный сервис.</p> 
								<a class="btn" href="#">перейти в каталог</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="single_slider d-flex align-items-center" data-bgimg="images/slider.jpg">
				<div class="container">
					<div class="row">
						<div class="col-lg-5">
							<div class="slider_content">
								<h2 class="h1">Доставка продуктов на дом или офис</h2>
								<p>Доставка продуктов из наших магазинов в Южноуральске. Удобный сервис.</p> 
								<a class="btn" href="#">перейти в каталог</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--slider area end-->
	
	<!--shipping area start-->
	<div class="shipping_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="single_shipping">
						<div class="shipping_icone">
							span(class="icon-buy")
						</div>
						<div class="shipping_content">
							<span class="title">от 500 рублей</span>
							<p>Оформление заказа от 500 рублей</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single_shipping col_2">
						<div class="shipping_icone">
							span(class="icon-timer")
						</div>
						<div class="shipping_content">
							<span class="title">Удобное время</span>
							<p>Доставляем в удобное для вас время</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single_shipping col_3">
						<div class="shipping_icone">
							span(class="icon-fresh")
						</div>
						<div class="shipping_content">
							<span class="title">Только свежее</span>
							<p>Выберем для вас лучшие продукты первей свежести</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single_shipping col_4">
						<div class="shipping_icone">
							span(class="icon-pig")
						</div>
						<div class="shipping_content">
							<span class="title">Низкая стоимость</span>
							<p>Цены ниже, чем в розничных магазинах</p>
						</div>
					</div>
				</div>
			</div>   
		</div>
	</div>
	<!--shipping area end-->
	
	<!--product area start-->
	<div class="product_area product_deals mb-150 mt-50">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section_title">
						<h2>Распродажа дня</h2>
					</div>
				</div>
			</div> 
			<div class="product_container">
				<div class="row">
					<div class="col-12">
						<div class="product_carousel product_column5 owl-carousel">
							-for(let i=0; i < 10; i++)
								include components/single-product-area.pug
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--product area end-->
	
	
	<div class="banner_fullwidth">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="banner_full_content">
						<p>ВЕСЬ НОЯБРЬ!</p>
						<h2>СКИДКА 50%<span>на все овощи и фрукты</span></h2>
						<a href="#" class="btn">перейти в каталог</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	div(class="step pb-50")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="section_title")
						h2
							| Экономьте ваше время с нами
			div(class="row")
				div(class="col-12 col-lg-4 mb-4 mb-lg-0")
					div(class="step-item step-item-arrow")
						img(class="lazyload mx-auto d-block" data-src="images/Rectangle 14.png" alt="img")
						p
							| Выберите из <a href="#">каталога продуктов</a> необходимые вам товары, положите их в корзину и оформите доставку.
				div(class="col-12 col-lg-4 mb-4 mb-lg-0")
					div(class="step-item step-item-arrow")
						img(class="lazyload mx-auto d-block" data-src="images/Rectangle 14 (1).png" alt="img")
						p
							| Наши специалисты соберут для вас самые свежие продукты с нашего склада
				div(class="col-12 col-lg-4")
					div(class="step-item")
						img(class="lazyload mx-auto d-block" data-src="images/Rectangle 14 (2).png" alt="img")
						p
							| Курьер привезет продукты через несколько часов, а вы можете заняться своими делами.
	<!--blog area start-->
	<section class="blog_section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section_title">
						<h2>Новости и статьи</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="blog_carousel blog_column3 owl-carousel">
					-for(let i=0; i < 10; i++)
						<article class="single_blog">
							<figure>
								<div class="blog_thumb">
									<a href="#">
										<img src="images/Rectangle 15.png" alt="img">
									</a>
								</div>
								<figcaption class="blog_content">
									<div class="articles_date">
										<p>10/10/2020</p>
									</div>
									<a class="post_title" href="#">Рецепт приготовления итальянского салата с руколлой.</a>
									<footer class="blog_footer">
										a(href="#")
											| ПОДРОБНЕЕ
											span(class="block-play")
												i(class="icon-play")
									</footer>
								</figcaption>
							</figure>
						</article>
				</div>
			</div>
		</div>
	</section>
	<!--blog area end-->
