source/html/info.pug
extends base.pug
block content
	include components/breadcrumbs-area.pug
	div(class="info-page")
		div(class="container")
			div(class="row")
				div(clas="col-12")
					h2(class="h4 m-0")
						b
							| О сервисе СберМаркет
					p
						| СберМаркет - это онлайн сервис доставки продуктов и товаров первой необходимости с полок магазинов. Это совместный проект сервиса доставки Instamart и Сбербанка,  реализованный на технологической платформе Instamart. В пилотном режиме сервис работает в Краснодаре и Ростове-на-Дону с 6 сентября 2019 года.
					p
						| Заказывать продукты прямо на дом можно из сети мелкооптовой торговли METRO Cash&Carry. Более 1,5 тыс товаров продаются со скидками до 50% каждую неделю.
					p
						| Обслуживание СберМаркет осуществляется специалистами по сборке и доставке сервиса Instamart, зарекомендовавшего себя в 13 крупнейших городах России. Заказ можно оформить через сайт или приложение. Специалист, который дежурит в магазине, собирает корзину, учитывая все пожелания клиента. С полок магазина отбираются только качественные и свежие продукты. Этому правилу учат каждого специалиста службы Instamart, поэтому клиенты могут быть уверены, что в корзине никогда не окажется испорченный продукт. Скоропортящиеся и охлажденные продукты упаковывают в специальные термобоксы, поэтому товары приедут так, как будто их только что взяли с полки магазина. Остальные продукты аккуратно складывают в пакеты, а затем в контейнер. Доставка осуществляется прямо до дверей клиента.
					br
					br
					br
					h2(class="h4")
						b
							| Почему покупку продуктов можно доверить СберМаркет?
					br
					p
						| 100% качество<br>Товары, которые вы заказали, отбирают специально обученные эксперты по продуктам. Они знают, как быстро найти лучшие фрукты и овощи, проверить сроки годности и правильно упаковать заказ, чтоб продукты приехали к вам так, как будто вы только что взяли их с полки магазина.
					p
						| Поможем сэкономить
					p
						| Каждую неделю более 2 тысяч товаров со скидками до 50% и сотни наименований собственных брендов гипермаркетов.
					p
						| Доставим день в день
					p
						| Время и место выбираете вы. Мы доставим заказ день в день, или в удобное время в течение недели. Интервал ожидания заказа всего 2 часа.
					p
						| Донесем тяжелые сумки<br>Со СберМаркет вы забудете о тяжелых сумках.  Доставка заказов до 30 кг. уже входит в стоимость сервиса. Наши курьеры донесут их до двери, даже если вы живете в доме без лифта.
					p
						| Супер гарантия<br>Только у нас возврат в течение 24 часов. Если вам не понравилось качество, вернем деньги по первому требованию.
					p
						| Официальный партнер магазинов<br>Наш сервис – привилегированный партнер сети торговых центров METRO Cash&Carry по всей России.
					p
						| Зарабатывать на покупках -  просто<br>Копите баллы программы «Аэрофлот Бонус» за каждую покупку в СберМаркет. Получайте бонусы и скидки за приглашенных друзей.

release/info.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <script class="js/vendor/modernizr-3.7.1.min.js"></script>
    <title>МиниМаг</title>
  </head>
  <body>
    <div class="off_canvars_overlay"></div><div class="offcanvas_menu">
<div class="container">
<div class="row">
<div class="col-12">
<div class="canvas_open">
<a href="javascript:void(0)"><span class="burger"></span></a>
</div>
<div class="offcanvas_menu_wrapper">
<div class="canvas_close">
<a href="javascript:void(0)"><span class="icon-cross"></span></a>  
</div>
<div class="language_currency">
    <p>Внимание! В связи с большим количеством заказов доставка осуществляется в течении 3 часов!</p></div>
<div class="header_social text-right">
<ul>
<li>
<a href="#"><img class="lazyload" data-src="images/vk.svg" alt="img"></a>
</li>
<li>
<a href="#"><img class="lazyload" data-src="images/instagram.svg" alt="img"></a>
</li>
</ul>
</div>
<div class="call-support mb-3"><span class="icon-phone"></span>
    <div class="d-flex flex-column align-items-end"><a href="tel:83511234567">8 (351) 123-45-67</a><span>приём звонков с 10:00 до 20:00</span></div></div>
<div id="menu" class="text-left ">
<ul class="offcanvas_main_menu">
<li class="menu-item-has-children active">
<a href="#">Главная</a>
</li>
<li class="menu-item-has-children">
<a href="#">О компании</a>
</li>
<li class="menu-item-has-children">
<a href="#">Доставка и оплата</a>
</li>
<li class="menu-item-has-children">
<a href="#">Контакты</a>
</li>
</ul>
</div>
<div class="offcanvas_footer">
<span>
<a href="mailto:info@minimag.ru"><b>Email:</b> info@minimag.ru</a>
</span>
</div>
</div>
</div>
</div>
</div>
</div>
<header>
<div class="main_header">
<div class="header_top">
<div class="container">
<div class="row">
<div class="col-lg-6"><span>Внимание! В связи с большим количеством заказов доставка осуществляется в течении 3 часов!</span></div>
<div class="col-lg-6">
<div class="header_social d-flex justify-content-end">
<ul>
<li>
<a href="#"><img class="lazyload" data-src="images/vk.svg" alt="img"></a>
</li>
<li>
<a href="#"><img class="lazyload" data-src="images/instagram.svg" alt="img"></a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="header_middle">
<div class="container">
<div class="row">
<div class="col-5 col-lg-3 order-1 order-lg-1">
<div class="logo">
<a href="#"><img class="lazyload" data-src="images/logo.svg" alt="logo img"></a>
</div>
</div>
<div class="col-lg-4 order-3 order-lg-2 mt-3 mt-lg-0">
<div class="header_right_info">
<div class="search_container w-100">
<form action="#" method="" class="w-100">
<div class="search_box w-100">
<input placeholder="Поиск по сайту" type="search">
<button type="submit">
<span class="icon-search"></span>
</button>
</div>
</form>
</div>
</div>
</div>
    <div class="col-5 col-lg-5 d-flex align-items-center justify-content-end order-2 order-lg-3"><div class="header_account_area">
<div class="header_account_list register">
<ul>
<li><a href="#">Регистрация</a></li>
<li><span>/</span></li>
<li><a href="#">Войти</a></li>
</ul>
</div>
<div class="header_account_list header_wishlist mr-20">
<a href="wishlist.html">
<span class="icon-heart"></span>
<span class="item_count">3</span>
</a>
</div>
<div class="header_account_list  mini_cart_wrapper">
<a href="javascript:void(0)">
<span class="icon-shopping-cart"></span>
<span class="item_count">2</span>
</a>
<div class="mini_cart">
<div class="cart_gallery">
<div class="cart_close">
<div class="cart_text">
<span class="h3 d-block m-0"><b>Корзина</b></span>
</div>
<div class="mini_cart_close">
<a href="javascript:void(0)"><span class="icon-cross"></span></a>
</div>
</div><div class="cart_item">
<div class="cart_img">
<a href="#">
<img class="lazyload" data-src="images/product.jpg" alt="img">
</a>
</div>
<div class="cart_info">
<a href="#">Название товара</a>
<p>1 x <span> 1000 ₽. </span></p>
</div>
<div class="cart_remove">
<a href="#"><i class="icon-x"></i></a>
</div>
</div>
</div>
<div class="mini_cart_table">
<div class="cart_table_border">
<div class="cart_total">
<span>Цена:</span>
<span class="price">125.00 ₽</span>
</div>
</div>
</div>
<div class="mini_cart_footer">
<div class="cart_button">
<a href="#">Посмотреть корзину</a>
</div>
<div class="cart_button">
<a href="#">Оформить</a>
</div>
</div>
</div>
</div>
</div>
    </div></div>
</div>
</div>
<div class="header_bottom sticky-header">
<div class="container">  
<div class="row align-items-center">
    <div class="col-lg-3 col-md-6">
      <div class="main-categori-wrap main-categori-wrap-modify-2 btn-catalog-drop">
        <div class="categories_title"><span class="categori_toggle">КАТАЛОГ<span class="icon-products ml-20"></span></span></div>
        <div class="catalog-drop">
          <div class="position-relative">
            <div class="catalog-drop-header">
              <div class="container">
                <div class="row">
                  <div class="col-12 d-flex justify-content-between align-items-center"><div class="logo">
<a href="#"><img class="lazyload" data-src="images/logo.svg" alt="logo img"></a>
</div>
                    <div class="catalog-drop-close"><span class="icon-cross"></span></div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="container pt-80">
                <div class="row pb-4">
                  <div class="col-12 col-lg-3 mb-5 mb-lg-0"><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19.png" alt="img"><span> Овощи и фрукты</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (1).png" alt="img"><span> Сладости</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (2).png" alt="img"><span> Готовые блюда и полуфабрикаты</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (3).png" alt="img"><span> Чай и кофе</span></a>
                  </div>
                  <div class="col-12 col-lg-3 mb-5 mb-lg-0"><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (4).png" alt="img"><span> Вода, соки, напитки</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (5).png" alt="img"><span> Сыры</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (6).png" alt="img"><span> Мясо и птица</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (7).png" alt="img"><span> Соусы, специи, приправы</span></a>
                  </div>
                  <div class="col-12 col-lg-3 mb-5 mb-lg-0"><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (8).png" alt="img"><span> Молочные продукты</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (9).png" alt="img"><span> Хлеб и выпечка</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (10).png" alt="img"><span> Чипсы и снеки</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (11).png" alt="img"><span> Бытовая химия</span></a>
                  </div>
                  <div class="col-12 col-lg-3"><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (12).png" alt="img"><span> Бакалея</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (13).png" alt="img"><span> Рыба и морепродукты</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (14).png" alt="img"><span> Консервы и соленья</span></a><a class="title" href=""><img class="lazyload" data-src="images/Rectangle 19 (15).png" alt="img"><span> Косметика и гигиена</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><div class="col-lg-6">
<!--main menu start-->
<div class="main_menu menu_position">
<nav>
<ul>
<li>
<a class="active" href="#">Главная</a>
</li>
<li>
<a href="#">О компании</a>
</li>
<li>
<a href="#">Доставка и оплата</a>
</li>
<li>
<a href="#">Контакты</a>
</li>
</ul>  
</nav> 
</div>
<!--main menu end-->
</div>
<div class="col-lg-3 d-none d-lg-block">
<div class="call-support"><span class="icon-phone"></span>
    <div class="d-flex flex-column align-items-end"><a href="tel:83511234567">8 (351) 123-45-67</a><span>приём звонков с 10:00 до 20:00</span></div></div>
</div>
</div>
</div>
</div>
</div> 
</header>
<!--header area end-->
    <div class="page-content"><div class="breadcrumbs_area">
<div class="container">
<div class="row">
<div class="col-12">
      <h1 class="text-center font-size-36 font-size-m-28 mb-18">Информационная страница</h1><div class="breadcrumb_content">
<ul>
<li><a href="#">Главная</a></li>
<li>Каталог</li>
</ul>
</div>
</div>
</div>
</div>
</div>
      <div class="info-page">
        <div class="container">
          <div class="row">
            <div clas="col-12">
              <h2 class="h4 m-0"><b>О сервисе СберМаркет</b></h2>
              <p>СберМаркет - это онлайн сервис доставки продуктов и товаров первой необходимости с полок магазинов. Это совместный проект сервиса доставки Instamart и Сбербанка,  реализованный на технологической платформе Instamart. В пилотном режиме сервис работает в Краснодаре и Ростове-на-Дону с 6 сентября 2019 года.</p>
              <p>Заказывать продукты прямо на дом можно из сети мелкооптовой торговли METRO Cash&Carry. Более 1,5 тыс товаров продаются со скидками до 50% каждую неделю.</p>
              <p>Обслуживание СберМаркет осуществляется специалистами по сборке и доставке сервиса Instamart, зарекомендовавшего себя в 13 крупнейших городах России. Заказ можно оформить через сайт или приложение. Специалист, который дежурит в магазине, собирает корзину, учитывая все пожелания клиента. С полок магазина отбираются только качественные и свежие продукты. Этому правилу учат каждого специалиста службы Instamart, поэтому клиенты могут быть уверены, что в корзине никогда не окажется испорченный продукт. Скоропортящиеся и охлажденные продукты упаковывают в специальные термобоксы, поэтому товары приедут так, как будто их только что взяли с полки магазина. Остальные продукты аккуратно складывают в пакеты, а затем в контейнер. Доставка осуществляется прямо до дверей клиента.</p><br><br><br>
              <h2 class="h4"><b>Почему покупку продуктов можно доверить СберМаркет?</b></h2><br>
              <p>100% качество<br>Товары, которые вы заказали, отбирают специально обученные эксперты по продуктам. Они знают, как быстро найти лучшие фрукты и овощи, проверить сроки годности и правильно упаковать заказ, чтоб продукты приехали к вам так, как будто вы только что взяли их с полки магазина.</p>
              <p>Поможем сэкономить</p>
              <p>Каждую неделю более 2 тысяч товаров со скидками до 50% и сотни наименований собственных брендов гипермаркетов.</p>
              <p>Доставим день в день</p>
              <p>Время и место выбираете вы. Мы доставим заказ день в день, или в удобное время в течение недели. Интервал ожидания заказа всего 2 часа.</p>
              <p>Донесем тяжелые сумки<br>Со СберМаркет вы забудете о тяжелых сумках.  Доставка заказов до 30 кг. уже входит в стоимость сервиса. Наши курьеры донесут их до двери, даже если вы живете в доме без лифта.</p>
              <p>Супер гарантия<br>Только у нас возврат в течение 24 часов. Если вам не понравилось качество, вернем деньги по первому требованию.</p>
              <p>Официальный партнер магазинов<br>Наш сервис – привилегированный партнер сети торговых центров METRO Cash&Carry по всей России.</p>
              <p>Зарабатывать на покупках -  просто<br>Копите баллы программы «Аэрофлот Бонус» за каждую покупку в СберМаркет. Получайте бонусы и скидки за приглашенных друзей.</p>
            </div>
          </div>
        </div>
      </div>
    </div><!--footer area start-->
<footer class="footer_widgets">
<div class="footer_top">
<div class="container">
<div class="row">
<div class="col-12 col-lg-4 mb-4 mb-lg-0">
<div class="logo mb-10">
<a href="#"><img class="lazyload" data-src="images/logo.svg" alt="logo img"></a>
</div>
<p class="footer_desc">Доставка продуктов на дом или в офис в Южноуральске. Принимаем заказы от 500 рублей.</p>
</div>
<div class="col-12 col-lg-2 mb-4 mb-lg-0">
<div class="widgets_container widget_menu">
<span class="title">Информация</span>
<div class="footer_menu">
<ul>
    <li><a href="#">О компании</a></li>
    <li><a href="#">Вакансии</a></li>
    <li><a href="#">Документы</a></li>
    <li><a href="#">Контакты</a></li></ul>
</div>
</div>
</div>
<div class="col-12 col-lg-2 mb-4 mb-lg-0">
<div class="widgets_container widget_menu">
<span class="title">Для покупателя</span>
<div class="footer_menu">
<ul>
    <li><a href="#">Как мы работаем</a></li>
    <li><a href="#">Зоны доставки</a></li>
    <li><a href="#">Доставка и оплата</a></li>
    <li><a href="#">Помощь</a></li></ul>
</div>
</div>
</div>
    <div class="col-12 col-lg-4 footer-info"><p class="footer_desc"><b>Адрес:</b> г. Южноуральск, ул. Ленина 1</p>
<p class="footer_desc"><b>Телефон:</b> <a href="tel:+73511234567">+7 351 123-45-67</a></p>
<p class="footer_desc"><b>Email:</b> <a href="mailto:info@minimag.ru">info@minimag.ru</a></p>
    </div></div>
</div>
</div>
<div class="footer_bottom">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 col-md-7 d-flex justify-content-center justify-content-lg-start">
<div class="copyright_area">
<p><a href="#">Политика конфиденциальности</a> | Мини-Маг - 2020</p>
</div>
</div>
<div class="col-lg-6 col-md-5 d-flex justify-content-center justify-content-lg-end">
<div class="copyright_area">
<p><a href="#">Разработка и поддержка сайта DEKSIS.RU</a></p>
</div>
</div>
</div>
</div>
</div>
</footer>
<!--footer area end-->
    <script src="js/main.min.js"></script>
  </body>
</html>
